* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(118, 60, 38);
}

header #logo {
    font-size: 30px;
    letter-spacing: 5px;

}

#right-header {
    display: flex;
    gap: 100px;
    align-items: center;
}

#right-header ul {
    display: flex;
    gap: 50px;
}

#right-header #functions {
    display: flex;
    align-items: center;
    gap: 30px;
}

#right-header a:link,
#right-header a:visited {
    color: rgb(118, 60, 38);
}

#right-header a:hover,
#right-header a:active {
    color: blue;
}

#right-header form {
    display: flex;
    height: 40px;
}

#right-header input {
    padding-left: 10px;
}

#right-header button {
    width: 40px;
    color: white;
    background-color: rgb(118, 60, 38);
}